body {
  overflow-x: hidden;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100vw;
}

nav .nav_div1 {
  width: 98vw;
  margin: 0rem 4rem;
}

nav .nav1_div2 {
  margin: 0rem 4rem;
}

.input-group {
  position: relative;
  width: 90vw;
  margin: 2rem 2.5rem;
}

.input-group .input_width {
  position: relative;
  width: 100vw;
}

.input-group .form-control {
  height: 10vh;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 500;
}

.input-group button {
  background-color: #00838c;
  color: white;
  width: 10vw;
  height: 10vh;
}

.input-group button .search_icon {
  font-size: 2rem;
}

.input-group input {
  border: 0;
  background-color: #d4dbe0;
  color: #000;
  padding-left: 2rem;
}

.input-group .domain_div {
  padding-left: 2.6rem;
  margin-top: 3rem;
}

.input-group .domain_div span {
  font-size: 0.8rem;
}

.poster_div {
  position: relative;
  background-color: #d4dbe0;
  min-height: 65vh;
  width: 100vw;
}

.poster_div .poster_content {
  line-height: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.poster_div .poster_content .left_side {
  margin-right: 8rem;
}

.poster_div .poster_content h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.poster_div .poster_content h3 {
  font-weight: 800;
  font-size: 3.5rem;
  font-family: Fredoka One;
  letter-spacing: -0.01em;
}

.poster_div .poster_content .btn {
  max-width: 30vh;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: Balsamiq Sans;
  border-radius: 0;
  padding: 0.7rem 2rem;
  background: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

/*.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}*/
.table_div {
  position: relative;
  margin: 2rem auto;
}

.table_div .row {
  height: 35vh;
}

.table_div .col-3 {
  border: 1px solid #d6d6d6;
}

.table_div .col-3 p {
  text-align: center;
  margin-top: 2rem;
}

.table_div .col-4 {
  border: 1px solid #d6d6d6;
  text-align: center;
}

.table_div .col-4 h1 {
  margin-top: 2rem;
}

.table_div .col-4 p {
  margin-top: 1rem;
}

.poster1_div {
  position: relative;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #0b3354;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.poster1_div img {
  height: 70%;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.poster1_div .right_side {
  margin-top: 6rem;
  color: #ffff;
}

.poster1_div .right_side h2 {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: -4rem;
}

.poster1_div .right_side h3 {
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.poster1_div .right_side .btn {
  width: 60%;
  height: 20%;
  background-color: #fff;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
}

@media (max-width: 360px) {
  .input_div .form-control {
    position: relative !important;
    height: 10vh !important;
  }
  .input_div .btn {
    height: 10vh !important;
  }
  .table_div {
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    margin-bottom: 15rem;
  }
  .table_div .row {
    height: 30vh !important;
  }
  .table_div .row .row_div {
    width: 50vh;
  }
  .table_div .row .row_div p {
    line-height: 1rem;
    word-wrap: break-word;
    font-size: 0.8rem;
    font-weight: 350;
  }
  .table_div .col-4 {
    margin-left: 1.27rem;
    margin-top: 2.2rem;
    height: 20vh;
    width: 15vh;
  }
  .table_div .col-4 h1 {
    font-size: 1.2rem;
  }
  .table_div .col-4 p {
    font-weight: 350;
    font-size: 0.8rem;
    margin-top: 0rem;
  }
  .poster1_div img {
    padding-left: 2rem !important;
  }
}

@media (max-width: 640px) {
  .poster_div {
    position: relative !important;
  }
  .poster_div .poster_content .btn {
    font-size: 0.7rem !important;
    margin-bottom: 4rem !important;
    width: 80vh;
  }
  .table_div {
    position: relative !important;
    height: 100vh;
  }
  .col-4 {
    position: relative !important;
    margin-top: 10.5rem;
    margin-bottom: 2rem;
  }
  .poster1_div {
    position: relative !important;
  }
}

@media (max-width: 576px) {
  .input_div {
    position: relative;
    width: 54vh;
    margin-left: -0.5rem !important;
  }
  .input_div .input_width .form-control {
    width: 30vh !important;
    font-size: 0.8rem !important;
  }
  .input_div .input_width button {
    position: relative;
    width: 10vh;
  }
  .poster1_div {
    position: relative;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 100vw !important;
  }
  .poster1_div .right_side {
    text-align: center;
  }
  .poster1_div .right_side h3 {
    font-size: 1.3rem !important;
  }
  .poster1_div .right_side .btn {
    height: 6vh !important;
    width: 35vh !important;
    padding-bottom: 2rem;
    font-weight: bold !important;
    font-size: 1rem !important;
  }
  .poster_div {
    position: relative;
  }
  .poster_div .right_side {
    display: none;
  }
  .poster_div .left_side {
    margin-left: 7rem;
  }
  .table_div {
    position: relative;
  }
  .table_div .row_div {
    position: relative;
    margin: 0 0.5rem !important;
  }
  .table_div .row_div .col-3 {
    padding: 1rem auto !important;
  }
  .table_div .row_div p {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .table_div .row_div .col-lg-2 {
    display: block !important;
    position: relative;
    margin-top: 2.7rem !important;
    display: none !important;
  }
}

@media (max-width: 768px) {
  .input_div .form-control {
    position: relative !important;
    height: 15vh;
  }
  .input_div .btn {
    position: relative !important;
    height: 15vh;
  }
  .poster_div {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .poster_div .poster_content h2 {
    margin-top: 3rem;
  }
  .poster_div .poster_content h3 {
    font-size: 2rem;
  }
  .poster_div .poster_content .btn {
    font-size: 0.9rem;
  }
  /*.table_div {
    .row {
      height: 40vh;
    }
    .col-12 {
      height: 40vh !important;
      position: relative !important;
      width: 100vw;
      margin-top: 5rem;
      margin-bottom: 2rem !important;
      p {
        margin-top: 0rem;
      }
    }
  }*/
  .poster1_div {
    height: 90vh !important;
    position: relative !important;
    margin-top: 4rem !important;
    width: 100% !important;
  }
  .poster1_div .right_side h3 {
    font-size: 2rem;
  }
  .poster1_div .right_side .btn {
    width: 60%;
    height: 10%;
    font-size: 0.6rem;
    margin-bottom: 4rem;
  }
  .poster1_div .right_side .btn span {
    display: none;
  }
}

@media (max-width: 992px) {
  body {
    overflow-x: hidden !important;
  }
  .domain_div {
    display: none;
  }
  .input-group input {
    width: 180vh;
  }
  /* .table_div {
    margin-bottom: 12rem;
  }*/
  .poster_content .btn {
    margin-bottom: 4rem;
  }
  .poster_content .btn span {
    display: none;
  }
  .poster1_div {
    height: 70vh;
  }
  .poster1_div .right_side .btn {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-bottom: 2rem;
  }
  .nav1_div2 span {
    display: none;
  }
  .nav1_div2 .nav_icon {
    margin-left: 1rem;
    display: block;
  }
  .nav1_div2 .nav_icon2 {
    margin-left: 1rem;
    margin-top: -2rem;
  }
}

@media (min-width: 992px) {
  body {
    overflow-x: hidden !important;
  }
  .poster_content .btn {
    margin-bottom: 2rem;
  }
  .poster_content .btn span {
    display: none;
  }
  .nav1_div2 span {
    display: block;
  }
  .nav1_div2 .nav_icon {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */